<!-- MANAGER -->
<div class="col-4">
    <div class="employee-container">
        <div class="employee-header">
                <h3 class="name">{{ name }}</h3>
                <h5 class="role"><i class="fas fa-chess-king"></i>&nbsp;{{ role }}</h5>
        </div>
        <div class="employee-content">
            <p><span class="employee-label">Employee ID:</span> {{ id }}</p>
            <p><span class="employee-label">Email:</span> {{ email }}</p>
            <p><span class="employee-label">Office Number:</span> {{ officeNumber }}</p>
        </div>
    </div>
</div>
<!-- END MANAGER -->